@admin.main("Administrar Categorias") {
		<!--users-->

	<div style="margin-top: 25px" class="container" ng-controller="CategoriesAdminController">
		<div>
			<button ng-click="openCreateCategory()" style="float:right" type="button" class="btn btn-primary">
				Crear
			</button>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Nombre</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="category in categories">
					<th scope="row">{{category.id}}</th>
					<td>{{category.name}}</td>
					<td>
						<button class="btn btn-default">Actualizar</button>
					</td>
				</tr>
			</tbody>
		</table>

	</div>

}