@(title: String)(content: Html)

    <!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <link href="@routes.Assets.versioned("stylesheets/bootstrap.css")" rel="stylesheet" type="text/css" media="all" />
            <!-- Custom Theme files -->
            <!--theme-style-->
        <link href="@routes.Assets.versioned("stylesheets/style.css")" rel="stylesheet" type="text/css" media="all" />
            <!--//theme-style-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Tienda virtual, shopin, shop, santo domingo, sarang online store, Republica Dominicana" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
            <!--theme-style-->

        <link href="@routes.Assets.versioned("stylesheets/style4.css")" rel="stylesheet" type="text/css" media="all" />
            <!--//theme-style-->
        <script src="@routes.Assets.versioned("javascripts/jquery.min.js")"></script>
            <!--- start-rate---->
        <script src="@routes.Assets.versioned("javascripts/jstarbox.js")"></script>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/jstarbox.css")" type="text/css" media="screen" charset="utf-8" />
        <script type="text/javascript">
                jQuery(function() {
                    jQuery('.starbox').each(function() {
                        var starbox = jQuery(this);
                        starbox.starbox({
                            average: starbox.attr('data-start-value'),
                            changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
                            ghosting: starbox.hasClass('ghosting'),
                            autoUpdateAverage: starbox.hasClass('autoupdate'),
                            buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
                            stars: starbox.attr('data-star-count') || 5
                        }).bind('starbox-value-changed', function(event, value) {
                            if(starbox.hasClass('random')) {
                                var val = Math.random();
                                starbox.next().text(' '+val);
                                return val;
                            }
                        })
                    });
                });
        </script>
            <!---//End-rate---->

    </head>
    <body ng-app="sarangApp">
            <!--header-->
        <div class="header" ng-controller="MainController">
            <div class="container">
                <div class="head">
                    <div class=" logo">
                        <a href="@routes.HomeController.index()"><img src="@routes.Assets.versioned("images/logo.png")" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="header-top">
                <div class="container">
                    <div class="col-sm-5 col-md-offset-2  header-login">
                        @*<ul ng-if="$storage.hasOwnProperty('token')">*@
                        <ul>
                            <li><a href="@routes.HomeController.index()">Mi Cuenta - {{$storage.user.name}}</a></li>
                            <li><a href="" ng-click="logout()">Logout</a></li>
                        </ul>
                        @*</ul>*@
                    </div>


                    <div class="clearfix"> </div>
                </div>
            </div>

            <div class="container">

                <div class="head-top">

                    <div class="col-sm-8 col-md-offset-2 h_menu4">
                        <nav class="navbar nav_bottom" role="navigation">

                                <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header nav_2">
                                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>

                            </div>
                                <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                                <ul class="nav navbar-nav nav_1">
                                    <li><a class="color" href="@routes.HomeController.admin_users()">Usuarios</a></li>
                                    <li><a class="color" href="@routes.HomeController.admin_roles()">Roles</a></li>
                                    <li><a class="color" href="@routes.HomeController.admin_orders()">Ordenes</a></li>
                                    <li><a class="color" href="@routes.HomeController.admin_products()">Productos</a></li>
                                    <li><a class="color" href="@routes.HomeController.admin_discounts()">Descuentos</a></li>
                                    <li><a class="color" href="@routes.HomeController.admin_categories()">Categories</a></li>
                                    <li><a class="color" href="@routes.HomeController.admin_colors()">Colores</a></li>
                                    <li><a class="color" href="@routes.HomeController.admin_sizes()">Sizes</a></li>
                                </ul>
                            </div><!-- /.navbar-collapse -->

                        </nav>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
            <!--banner-->
        @content
            <!--//footer-->
        @*<div class="footer">*@
            @*<div class="footer-bottom">*@
                @*<div class="container">*@
                    @*<ul class="footer-bottom-top">*@
                        @*<li><a href="#"><img src="@routes.Assets.versioned("images/f1.png")" class="img-responsive" alt=""></a></li>*@
                        @*<li><a href="#"><img src="@routes.Assets.versioned("images/f2.png")" class="img-responsive" alt=""></a></li>*@
                        @*<li><a href="#"><img src="@routes.Assets.versioned("images/f3.png")" class="img-responsive" alt=""></a></li>*@
                    @*</ul>*@
                    @*<p class="footer-class">&copy; 2017 Sarang Boutique RD. All Rights Reserved .</p>*@
                    @*<div class="clearfix"> </div>*@
                @*</div>*@
            @*</div>*@
        @*</div>*@
            <!--//footer-->
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="@routes.Assets.versioned("javascripts/simpleCart.min.js")"> </script>
            <!-- slide -->
        <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>
            <!-- angular -->
        <script src="@routes.Assets.versioned("javascripts/angular.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/angular-resource.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/ngStorage.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/ui-bootstrap-tpls-2.5.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("app/api.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("app/app.js")" type="text/javascript"></script>

            <!--light-box-files -->
        <script src="@routes.Assets.versioned("javascripts/jquery.chocolat.js")"></script>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/chocolat.css")" type="text/css" media="screen" charset="utf-8">
            <!--light-box-files -->
        <script type="text/javascript" charset="utf-8">
                $(function() {
                    $('a.picture').Chocolat();
                });
        </script>


    </body>
</html>

