@admin.main("Administrar Ordenes") {
		<!--users-->

	<div style="margin-top: 25px" class="container" ng-controller="OrdersAdminController">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Cliente</th>
					<th>Status</th>
					<th>Nota</th>
					<th>Precio</th>
					<th>Fecha de Creacion</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="order in orders">
					<th scope="row">{{order.id}}</th>
					<td>{{order.user.name + " " +order.user.lastName}}</td>
					<td>{{order.status}}</td>
					<td>{{order.note}}</td>
					<td>{{order.total | currency:"RD$"}}</td>
					<td>{{order.createdAt | date:'medium'}}</td>
					<td ng-if="order.status == 'Abierta'">
						<button class="btn btn-default" ng-click="markAsPaid(order.id)">Pagar</button>
					</td>
					<td ng-if="order.status == 'Pagada'">
						<button class="btn btn-default" ng-click="markAsDelivered(order.id)">Entregar</button>
					</td>
					<td ng-if="order.status == 'Entregada'"></td>
				</tr>
			</tbody>
		</table>

	</div>

}