@admin.main("Administrar Productos") {
		<!--users-->

	<div style="margin-top: 25px" class="container" ng-controller="ProductsAdminController">
		<div>
			<button ng-click="openCreateProduct()" style="float:right" type="button" class="btn btn-primary">
				Crear
			</button>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Nombre</th>
					<th>Precio</th>
					<th>Descripcion</th>
					<th>Cantidad</th>
					<th>Categoria</th>
					<th>Colores</th>
					<th>Tamaños</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="product in products">
					<th scope="row">{{product.id}}</th>
					<td>{{product.name}}</td>
					<td>{{product.price}}</td>
					<td>{{product.description}}</td>
					<td>{{product.quantity}}</td>
					<td>{{product.category.name}}</td>
					<td>
						<span ng-repeat="color in product.colors">
							{{color.name}}<span ng-if="$index < products.colors.length - 1">,</span>
						</span>
					</td>
					<td>
						<span ng-repeat="size in product.sizes">
							{{size.name}}<span ng-if="$index < product.sizes.length - 1">,</span>
						</span>
					</td>
					<td>
						<button class="btn btn-default">Actualizar</button>
					</td>
				</tr>
			</tbody>
		</table>

	</div>

}