@admin.main("Administrar Usuarios") {
		<!--users-->

	<div style="margin-top: 25px" class="container" ng-controller="RolesAdminController">
		<div>
			<button ng-click="openCreateRole()" style="float:right" type="button" class="btn btn-primary">
				Crear
			</button>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Nombre</th>
					<th>Fecha de Creacion</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="role in roles">
					<th scope="row">{{role.id}}</th>
					<td>{{role.name}}</td>
					<td>{{role.createdAt  | date:'medium'}}</td>
					<td>
						<button class="btn btn-default">Actualizar</button>
					</td>
				</tr>
			</tbody>
		</table>

	</div>

}