@admin.main("Administrar Sizes") {
		<!--users-->

	<div style="margin-top: 25px" class="container" ng-controller="SizesAdminController">
		<div>
			<button ng-click="openCreateSize()" style="float:right" type="button" class="btn btn-primary">
				Crear
			</button>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Nombre</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="size in sizes">
					<th scope="row">{{size.id}}</th>
					<td>{{size.name}}</td>
					<td>
						<button class="btn btn-default">Actualizar</button>
					</td>
				</tr>
			</tbody>
		</table>

	</div>

}