@admin.main("Administrar Usuarios") {
		<!--users-->

	<div style="margin-top: 25px" class="container" ng-controller="UsersAdminController">
		<div>
			<button ng-click="open()" style="float:right" type="button" class="btn btn-primary">
				Crear
			</button>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Verificado</th>
					<th>Role</th>
					<th>Creado</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in users">
					<th scope="row">{{user.id}}</th>
					<td>{{user.name}}</td>
					<td>{{user.lastName}}</td>
					<td>{{user.email}}</td>
					<td>{{user.isMailVerified}}</td>
					<td>{{user.role.name}}</td>
					<td>{{role.createdAt  | date:'medium'}}</td>
					<td>
						<button class="btn btn-default">Actualizar</button>
					</td>
				</tr>
			</tbody>
		</table>

	</div>

}