@main("About - Sarang Boutique RD") {
	<!--banner-->
	<div class="banner-top">
	<div class="container">
		<h1>Acerca de</h1>
		<em></em>
		<h2><a href="@routes.HomeController.index()">Inicio</a><label>/</label>Acerca de</h2>
	</div>
</div>	
		
			<div class="contact">
					
				<div class="contact-form">
					<div class="container">
					<div class="col-md-6 contact-left">
						<h3>Sarang Boutique RD</h3>
					<p>Somos una tienda virtual basada en Santo Domingo desde Abril 2016, hacemos envios a nivel nacional e internacional, con gran variedad en nuestros articulos. </p>
					
						
						</div>
</div>
				</div>
                </div>
				
	<!--//content-->
	<!--//footer-->
	
}