@site.main("Carrito - Sarang Boutique RD") {
	<!--banner-->
	<div class="banner-top">
		<div class="container">
			<h1>Carrito</h1>
			<em></em>
			<h2><a href="@routes.HomeController.index()">Inicio</a><label>/</label>Carrito</h2>
		</div>
	</div>
		<!--login-->
	<script>$(document).ready(function(c) {
		$('.close1').on('click', function(c){
			$('.cart-header').fadeOut('slow', function(c){
				$('.cart-header').remove();
			});
		});
	});
	</script>
	<script>$(document).ready(function(c) {
		$('.close2').on('click', function(c){
			$('.cart-header1').fadeOut('slow', function(c){
				$('.cart-header1').remove();
			});
		});
	});
	</script>
	<script>$(document).ready(function(c) {
		$('.close3').on('click', function(c){
			$('.cart-header2').fadeOut('slow', function(c){
				$('.cart-header2').remove();
			});
		});
	});
	</script>
	<div class="container" ng-controller="CartsController">
		<div class="check-out">
			<div class="bs-example4" data-example-id="simple-responsive-table">
				<div class="table-responsive">
					<table class="table-heading simpleCart_shelfItem">
						<tr>
							<th class="table-grid">Producto</th>
							<th>Cantidad</th>
							<th>Precio</th>
							<th>Accion</th>
						</tr>
						<tr ng-repeat="detail in cart.cartsProducts" class="cart-header">
							<td class="ring-in">
								<a ng-href="/productos/{{detail.product.id}}" class="at-in"><img ng-src="http://{{detail.product.photoThumbnail}}" class="img-responsive" alt=""></a>
								<div class="sed">
									<h5><a ng-href="/productos/{{detail.product.id}}">{{detail.product.name}}</a></h5>
									<p>{{detail.product.description}}</p>

								</div>
								<div class="clearfix"> </div>
								</td>
							<td>{{detail.quantity}}</td>
							<td>{{detail.product.price | currency:"RD$"}}</td>
							@*<td class="item_price">$100.00</td>*@
							<td class="add-check"><a class="item_add hvr-skew-backward" href="#">Remover</a></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="produced">
				<a style="cursor: pointer" ng-click="createOrder()" class="hvr-skew-backward">Ordernar</a>
			</div>
		</div>
	</div>

		<!--//login-->
		<!--brand-->
	<div class="container">
		<div class="brand">
				<!-- <div class="col-md-3 brand-grid">
					<img src="images/ic.png" class="img-responsive" alt="">
				</div>
				<div class="col-md-3 brand-grid">
					<img src="images/ic1.png" class="img-responsive" alt="">
				</div>
				<div class="col-md-3 brand-grid">
					<img src="images/ic2.png" class="img-responsive" alt="">
				</div>
				<div class="col-md-3 brand-grid">
					<img src="images/ic3.png" class="img-responsive" alt="">
				</div>
				<div class="clearfix"></div> -->
		</div>
	</div>
		<!--//brand-->
		<!--//content-->
}