@main("Confirmacion - Sarang Boutique RD") {

<!--banner-->
	<div class="banner-top">
		<div class="container">
			<h1>Login</h1>
			<em></em>
			<h2><a href="@routes.HomeController.index()">Inicio</a><label>/</label>Login</h2>
		</div>
	</div>
		<!--login-->
	<div class="container" ng-controller="LoginController">
		<div class="login">
            <h2>Confirmacion de tu cuenta</h2>
            <p>Ya tu cuenta ha sido verificada, puede <a href="@routes.HomeController.login()">Iniciar Sesion</a> para comprar con nosotros, <br/>
            gracias</p>
		</div>
	</div>

		<!--brand-->
	<div class="container">
		<div class="brand">
		</div>
	</div>

}