@main("Confirmacion - Sarang Boutique RD") {

<!--banner-->
	<div class="banner-top">
		<div class="container">
			<h1>Login</h1>
			<em></em>
			<h2><a href="@routes.HomeController.index()">Inicio</a><label>/</label>Login</h2>
		</div>
	</div>
		<!--login-->
	<div class="container" ng-controller="LoginController">
		<div class="login">
            <h2>Error de confirmacion de cuenta</h2>
              <p>su cuenta no ha podido ser verificada, el link de confirmacion fue erroneo.
            <br/> Lo sentimos.</p>
		</div>
	</div>

		<!--brand-->
	<div class="container">
		<div class="brand">
		</div>
	</div>

}