@main("Contacto - Sarang Boutique RD") {
	<!--banner-->
	<div class="banner-top">
	<div class="container">
		<h1>Contacto</h1>
		<em></em>
		<h2><a href="@routes.HomeController.index()">Inicio</a><label>/</label>Contacto</h2>
	</div>
</div>	
		
			<div class="contact">
					
				<div class="contact-form">
					<div class="container">
					<div class="col-md-6 contact-left">
						<h3>Cont&aacute;ctanos </h3>
						<p>Si tienes alguna duda, pregunta o comentario, no olvides escribirnos a nuestro email o llena el formulario para ponernos en contacto contigo.<br> &#161;Trabajamos para ti! </p>
					
			
					<div class="address">
					<div class=" address-grid">
							<!-- i class="glyphicon glyphicon-map-marker"></i>
							<div class="address1">
								<h3>Address</h3>
								<p>Lorem ipsum dolor,
								TL 19034-88974</p>
							</div>
							<div class="clearfix"> </div> -->
						</div>
						<div class=" address-grid ">
							<!-- <i class="glyphicon glyphicon-phone"></i>
							<div class="address1">
							<h3>Whatsapp<h3>
								<p>+123456789</p>
							</div>
							<div class="clearfix"> </div> -->
						</div>
						<div class=" address-grid ">
							<i class="glyphicon glyphicon-envelope"></i>
							<div class="address1">
							<h3>Email:</h3>
								<p><a href="mailto:sarangboutiquerd&#64;gmail.com"> sarangboutiquerd&#64;gmail.com</a></p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class=" address-grid ">
							<i class="glyphicon glyphicon-bell"></i>
							<div class="address1">
								<h3>Horario:</h3>
								<p>Lunes a S&aacute;bados 8AM-8PM</p>
							</div>
							<div class="clearfix"> </div>
						</div>
</div>
				</div>
				<div class="col-md-6 contact-top">
					<h3>&#191;Tienes alguna duda o pregunta?</h3>
					<form>
						<div>
							<span>Tu Nombre </span>		
							<input type="text" value="" >						
						</div>
						<div>
							<span>Tu Email </span>		
							<input type="text" value="" >						
						</div>
						<div>
							<span>Asunto</span>		
							<input type="text" value="" >	
						</div>
						<div>
							<span>Tu Mensaje</span>		
							<textarea> </textarea>	
						</div>
						<label class="hvr-skew-backward">
								<input type="submit" value="Send" >
						</label>
</form>						
				</div>
		<div class="clearfix"></div>
		</div>
		</div>
		<!-- <div class="map">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d37494223.23909492!2d103!3d55!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x453c569a896724fb%3A0x1409fdf86611f613!2sRussia!5e0!3m2!1sen!2sin!4v1415776049771"></iframe>
					</div> -->
	</div>

<!--//contact-->
<!--brand-->
		<div class="container">
			<div class="brand">
				<!-- <div class="col-md-3 brand-grid">
					<img src="images/ic.png" class="img-responsive" alt="">
				</div>
				<div class="col-md-3 brand-grid">
					<img src="images/ic1.png" class="img-responsive" alt="">
				</div>
				<div class="col-md-3 brand-grid">
					<img src="images/ic2.png" class="img-responsive" alt="">
				</div>
				<div class="col-md-3 brand-grid">
					<img src="images/ic3.png" class="img-responsive" alt="">
				</div>
				<div class="clearfix"></div> -->
			</div>
			</div>
			<!--//brand-->
			</div>
			
		</div>
	<!--//content-->
	
}