@site.main("Sarang Boutique RD") {
	<div class="banner">
		<div class="container">
			<section class="rw-wrapper">
				<h1 class="rw-sentence">
					<span>Fashion &amp; Beauty</span>
					<div class="rw-words rw-words-1">
						<span>Piensa en grande</span>
						<span>Moda todo el a&ntilde;o</span>
						<span>Piensa en grande</span>
						<span>Moda todo el a&ntilde;o</span>
						<span>Piensa en grande</span>
						<span>Moda todo el a&ntilde;o</span>
					</div>
					<div class="rw-words rw-words-2">
						<span>Hermosos Dise&ntilde;os</span>
						<span>Viste siempre a la moda</span>
						<span>Hermosos Dise&ntilde;os</span>
						<span>Viste siempre a la moda</span>
						<span>Hermosos Dise&ntilde;os</span>
						<span>Viste siempre a la moda</span>
					</div>
				</h1>
			</section>
		</div>
	</div>
		<!--content-->
	<div class="content">
		<div class="container">
			<div class="content-top">
				<div class="col-md-6 col-md">
					<div class="col-1">
						<a href="@routes.HomeController.product()" class="b-link-stroke b-animate-go  thickbox">
							<img src="assets/images/pi.jpg" class="img-responsive" alt=""/><div class="b-wrapper1 long-img"><p class="b-animate b-from-right    b-delay03 ">Lo &#43;</p><label class="b-animate b-from-right    b-delay03 "></label><h3 class="b-animate b-from-left    b-delay03 ">Trendy</h3></div></a>

							<!---<a href="single.scala.html"><img src="assets/images/pi.jpg" class="img-responsive" alt=""></a>-->
					</div>
					<div class="col-2">
						<span>Hot Deal</span>
						<h2><a href="@routes.HomeController.product()">Lujoso &amp; Trendy</a></h2>
						<p>Si quieres estar a la moda, debes usar este tipo de atuendos.</p>
						<a href="single.scala.html" class="buy-now">Comprar</a>
					</div>
				</div>
				<div class="col-md-6 col-md1">
					<div class="col-3">
						<a href="@routes.HomeController.product()"><img src="assets/images/pi1.jpg" class="img-responsive" alt="">
							<div class="col-pic">
								<p>Moda</p>
								<label></label>
								<h5>Para Hombres</h5>
							</div></a>
					</div>
					<div class="col-3">
						<a href="@routes.HomeController.product()"><img src="assets/images/pi2.jpg" class="img-responsive" alt="">
							<div class="col-pic">
								<p>Moda</p>
								<label></label>
								<h5>Para Ni&ntilde;os</h5>
							</div></a>
					</div>
					<div class="col-3">
						<a href="@routes.HomeController.product()"><img src="assets/images/pi3.jpg" class="img-responsive" alt="">
							<div class="col-pic">
								<p>Moda</p>
								<label></label>
								<h5>Para Mujeres</h5>
							</div></a>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
				<!--products-->
			<div class="content-mid">
				<h3>Productos en Rebaja</h3>
				<label class="line"></label>
				<div class="mid-popular">
					<div class="col-md-3 item-grid simpleCart_shelfItem">
						<div class=" mid-pop">
							<div class="pro-img">
								<img src="assets/images/pc.jpg" class="img-responsive" alt="">
								<div class="zoom-icon ">
									<a class="picture" href="assets/images/pc.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox"><i class="glyphicon glyphicon-search icon "></i></a>
									<a href="single.scala.html"><i class="glyphicon glyphicon-menu-right icon"></i></a>
								</div>
							</div>
							<div class="mid-1">
								<div class="women">
									<div class="women-top">
										<span>Mujeres</span>
										<h6><a href="single.scala.html">Camisa Aqua</a></h6>
									</div>
									<div class="img item_add">
										<a href="#"><img src="assets/images/ca.png" alt=""></a>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="mid-2">
									<p ><label>$1000.00</label><em class="item_price">$700.00</em></p>

									<div class="clearfix"></div>
								</div>

							</div>
						</div>
					</div>
					<div class="col-md-3 item-grid simpleCart_shelfItem">
						<div class=" mid-pop">
							<div class="pro-img">
								<img src="assets/images/pc1.jpg" class="img-responsive" alt="">
								<div class="zoom-icon ">
									<a class="picture" href="assets/images/pc1.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox"><i class="glyphicon glyphicon-search icon "></i></a>
									<a href="single.scala.html"><i class="glyphicon glyphicon-menu-right icon"></i></a>
								</div>
							</div>
							<div class="mid-1">
								<div class="women">
									<div class="women-top">
										<span>Mujeres</span>
										<h6><a href="single.scala.html">Camiseta Rosa</a></h6>
									</div>
									<div class="img item_add">
										<a href="#"><img src="assets/images/ca.png" alt=""></a>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="mid-2">
									<p ><label>$400.00</label><em class="item_price">$250.00</em></p>
									<div class="clearfix"></div>
								</div>

							</div>
						</div>
					</div>
					<div class="col-md-3 item-grid simpleCart_shelfItem">
						<div class=" mid-pop">
							<div class="pro-img">
								<img src="assets/images/pc2.jpg" class="img-responsive" alt="">
								<div class="zoom-icon ">
									<a class="picture" href="assets/images/pc2.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox"><i class="glyphicon glyphicon-search icon "></i></a>
									<a href="single.scala.html"><i class="glyphicon glyphicon-menu-right icon"></i></a>
								</div>
							</div>
							<div class="mid-1">
								<div class="women">
									<div class="women-top">
										<span>Hombres</span>
										<h6><a href="single.scala.html">Camisa a Cuadros</a></h6>
									</div>
									<div class="img item_add">
										<a href="#"><img src="assets/images/ca.png" alt=""></a>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="mid-2">
									<p ><label>$1000.00</label><em class="item_price">$700.00</em></p>
									<div class="clearfix"></div>
								</div>

							</div>
						</div>
					</div>
					<div class="col-md-3 item-grid simpleCart_shelfItem">
						<div class=" mid-pop">
							<div class="pro-img">
								<img src="assets/images/pc3.jpg" class="img-responsive" alt="">
								<div class="zoom-icon ">
									<a class="picture" href="assets/images/pc3.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox"><i class="glyphicon glyphicon-search icon "></i></a>
									<a href="single.scala.html"><i class="glyphicon glyphicon-menu-right icon"></i></a>
								</div>
							</div>
							<div class="mid-1">
								<div class="women">
									<div class="women-top">
										<span>Mujeres</span>
										<h6><a href="single.scala.html">Camisa a cuadros</a></h6>
									</div>
									<div class="img item_add">
										<a href="#"><img src="assets/images/ca.png" alt=""></a>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="mid-2">
									<p ><label>$1000.00</label><em class="item_price">$700.00</em></p>
									<div class="clearfix"></div>
								</div>

							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="mid-popular">
					<div class="col-md-3 item-grid simpleCart_shelfItem">
						<div class=" mid-pop">
							<div class="pro-img">
								<img src="assets/images/pc4.jpg" class="img-responsive" alt="">
								<div class="zoom-icon ">
									<a class="picture" href="assets/images/pc4.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox"><i class="glyphicon glyphicon-search icon "></i></a>
									<a href="single.scala.html"><i class="glyphicon glyphicon-menu-right icon"></i></a>
								</div>
							</div>
							<div class="mid-1">
								<div class="women">
									<div class="women-top">
										<span>Hombres</span>
										<h6><a href="single.scala.html">T-shirt Rojo</a></h6>
									</div>
									<div class="img item_add">
										<a href="#"><img src="assets/images/ca.png" alt=""></a>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="mid-2">
									<p ><label>$500.00</label><em class="item_price">$300.00</em></p>
									<div class="clearfix"></div>
								</div>

							</div>
						</div>
					</div>
					<div class="col-md-3 item-grid simpleCart_shelfItem">
						<div class=" mid-pop">
							<div class="pro-img">
								<img src="assets/images/pc5.jpg" class="img-responsive" alt="">
								<div class="zoom-icon ">
									<a class="picture" href="assets/images/pc5.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox"><i class="glyphicon glyphicon-search icon "></i></a>
									<a href="single.scala.html"><i class="glyphicon glyphicon-menu-right icon"></i></a>
								</div>
							</div>
							<div class="mid-1">
								<div class="women">
									<div class="women-top">
										<span>Hombres</span>
										<h6><a href="single.scala.html">Camisa a cuadros</a></h6>
									</div>
									<div class="img item_add">
										<a href="#"><img src="assets/images/ca.png" alt=""></a>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="mid-2">
									<p ><label>$1000.00</label><em class="item_price">$700.00</em></p>
									<div class="clearfix"></div>
								</div>

							</div>
						</div>
					</div>
					<div class="col-md-3 item-grid simpleCart_shelfItem">
						<div class=" mid-pop">
							<div class="pro-img">
								<img src="assets/images/pc6.jpg" class="img-responsive" alt="">
								<div class="zoom-icon ">
									<a class="picture" href="assets/images/pc6.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox"><i class="glyphicon glyphicon-search icon "></i></a>
									<a href="single.scala.html"><i class="glyphicon glyphicon-menu-right icon"></i></a>
								</div>
							</div>
							<div class="mid-1">
								<div class="women">
									<div class="women-top">
										<span>Mujeres</span>
										<h6><a href="single.scala.html">Camisa a Cuadros</a></h6>
									</div>
									<div class="img item_add">
										<a href="#"><img src="assets/images/ca.png" alt=""></a>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="mid-2">
									<p ><label>$1000.00</label><em class="item_price">$700.00</em></p>
									<div class="clearfix"></div>
								</div>

							</div>
						</div>
					</div>
					<div class="col-md-3 item-grid simpleCart_shelfItem">
						<div class=" mid-pop">
							<div class="pro-img">
								<img src="assets/images/pc7.jpg" class="img-responsive" alt="">
								<div class="zoom-icon ">
									<a class="picture" href="assets/images/pc7.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox"><i class="glyphicon glyphicon-search icon "></i></a>
									<a href="single.scala.html"><i class="glyphicon glyphicon-menu-right icon"></i></a>
								</div>
							</div>
							<div class="mid-1">
								<div class="women">
									<div class="women-top">
										<span>Hombres</span>
										<h6><a href="single.scala.html">Camisa Azul</a></h6>
									</div>
									<div class="img item_add">
										<a href="#"><img src="assets/images/ca.png" alt=""></a>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="mid-2">
									<p ><label>$1000.00</label><em class="item_price">$700.00</em></p>
									<div class="clearfix"></div>
								</div>

							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
				<!--//products-->
				<!--brand-->
			<div class="brand">

				<div class="clearfix"></div>
			</div>
				<!--//brand-->
		</div>

	</div>
		<!--//content-->
}