@(title: String)(content: Html)

    <!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <link href="@routes.Assets.versioned("stylesheets/bootstrap.css")" rel="stylesheet" type="text/css" media="all" />
            <!-- Custom Theme files -->
            <!--theme-style-->
        <link href="@routes.Assets.versioned("stylesheets/style.css")" rel="stylesheet" type="text/css" media="all" />
        <link href="@routes.Assets.versioned("stylesheets/main.css")" rel="stylesheet" type="text/css" media="all" />

        <!--//theme-style-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Tienda virtual, shopin, shop, santo domingo, sarang online store, Republica Dominicana" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
            <!--theme-style-->

        <link href="@routes.Assets.versioned("stylesheets/style4.css")" rel="stylesheet" type="text/css" media="all" />
            <!--//theme-style-->
        <script src="@routes.Assets.versioned("javascripts/jquery.min.js")"></script>
            <!--- start-rate---->
        <script src="@routes.Assets.versioned("javascripts/jstarbox.js")"></script>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/jstarbox.css")" type="text/css" media="screen" charset="utf-8" />
        <script type="text/javascript">
                jQuery(function() {
                    jQuery('.starbox').each(function() {
                        var starbox = jQuery(this);
                        starbox.starbox({
                            average: starbox.attr('data-start-value'),
                            changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
                            ghosting: starbox.hasClass('ghosting'),
                            autoUpdateAverage: starbox.hasClass('autoupdate'),
                            buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
                            stars: starbox.attr('data-star-count') || 5
                        }).bind('starbox-value-changed', function(event, value) {
                            if(starbox.hasClass('random')) {
                                var val = Math.random();
                                starbox.next().text(' '+val);
                                return val;
                            }
                        })
                    });
                });
        </script>
            <!---//End-rate---->

    </head>
    <body ng-app="sarangApp">
            <!--header-->
        <div class="header" ng-controller="MainController">
            <div class="container">
                <div class="head">
                    <div class=" logo">
                        <a href="@routes.HomeController.index()"><img src="@routes.Assets.versioned("images/logo.png")" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="header-top">
                <div class="container">
                    <div class="col-sm-5 col-md-offset-2  header-login">
                        <ul ng-if="!$storage.hasOwnProperty('token')">
                            <li><a href="@routes.HomeController.login()">Login</a></li>
                            <li><a href="@routes.HomeController.register()">Registrarse</a></li>
                            <li><a href="@routes.HomeController.checkout()">Checkout</a></li>
                        </ul>
                        <ul ng-if="$storage.hasOwnProperty('token')">
                            <li><a href="@routes.HomeController.index()">Mi Cuenta - {{$storage.user.name}}</a></li>
                            <li><a href="@routes.HomeController.orders()">Ordenes</a></li>
                            <li><a href="" ng-click="logout()">Logout</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-5 header-social">
                        <ul >
                            <li><a href="#"><i></i></a></li>
                            <li><a href="#"><i class="ic1"></i></a></li>
                            <li><a href="#"><i class="ic2"></i></a></li>
                            <li><a href="#"><i class="ic3"></i></a></li>
                            <li><a href="#"><i class="ic4"></i></a></li>
                        </ul>

                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>

            <div class="container">

                <div class="head-top">

                    <div class="col-sm-8 col-md-offset-2 h_menu4">
                        <nav class="navbar nav_bottom" role="navigation">

                                <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header nav_2">
                                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>

                            </div>
                                <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                                <ul class="nav navbar-nav nav_1">
                                    <li><a class="color" href="@routes.HomeController.index()">Inicio</a></li>
                                    <li><a class="color" href="@routes.HomeController.product()">Productos</a></li>

                                        <!-- <li><a class="color3" href="product.scala.html">Sale</a></li> -->
                                    <li><a class="color4"  href="@routes.HomeController.about()">Acerca de</a></li>
                                        <!--  <li><a class="color5" href="typo.html">Short Codes</a></li> -->
                                    <li ><a class="color6" href="@routes.HomeController.contact()">Contacto</a></li>
                                </ul>
                            </div><!-- /.navbar-collapse -->

                        </nav>
                    </div>
                    <div class="col-sm-2 search-right">
                        @*<ul class="heart">*@
                            @*<li>*@
                                @*<a href="wishlist.html" >*@
                                    @*<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>*@
                                @*</a></li>*@
                            @*<li><a class="play-icon popup-with-zoom-anim" href="#small-dialog"><i class="glyphicon glyphicon-search"> </i></a></li>*@
                        @*</ul>*@
                        <div class="cart box_1">
                            <a href="@routes.HomeController.checkout()">
                                <h3> <div class="total">
                                    @*<span class="simpleCart_total"></span></div>*@
                                    <img src="@routes.Assets.versioned("images/cart.png")" alt=""/></h3>
                            </a>
                            @*<p><a href="javascript:;" class="simpleCart_empty">Carrito Vacio</a></p>*@

                        </div>
                        <div class="clearfix"> </div>

                            <!----->

                            <!---pop-up-box---->
                        <link href="@routes.Assets.versioned("stylesheets/popuo-box.css")" rel="stylesheet" type="text/css" media="all"/>
                        <script src="@routes.Assets.versioned("javascripts/jquery.magnific-popup.js")" type="text/javascript"></script>
                            <!---//pop-up-box---->
                        <div id="small-dialog" class="mfp-hide">
                            <div class="search-top">
                                <div class="login-search">
                                    <input type="submit" value="">
                                    <input type="text" value="Search.." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search..';}">
                                </div>
                                <p>Shopin</p>
                            </div>
                        </div>
                        <script>
                                $(document).ready(function() {
                                    $('.popup-with-zoom-anim').magnificPopup({
                                        type: 'inline',
                                        fixedContentPos: false,
                                        fixedBgPos: true,
                                        overflowY: 'auto',
                                        closeBtnInside: true,
                                        preloader: false,
                                        midClick: true,
                                        removalDelay: 300,
                                        mainClass: 'my-mfp-zoom-in'
                                    });

                                });
                        </script>
                            <!----->
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
            <!--banner-->
        @content
            <!--//footer-->
        <div class="footer">
            <div class="footer-middle">
                <div class="container">
                    <div class="col-md-3 footer-middle-in">
                        <a href="@routes.HomeController.index()"><img src="@routes.Assets.versioned("images/log.png")" alt=""></a>
                        <p>Somos una tienda virtual basada en Santo Domingo desde Abril 2016, hacemos envios a nivel nacional e internacional, con gran variedad en nuestros articulos.</p>
                    </div>

                    <div class="col-md-3 footer-middle-in">
                        <h6>Informaci&oacute;n</h6>
                        <ul class=" in">
                            <li><a href="../notFound.scala.html">Acerca de</a></li>
                            <li><a href="@routes.HomeController.contact()">Cont&aacute;ctanos</a></li>
                            <li><a href="#">T&eacute;rminos y Condiciones</a></li>

                        </ul>
                        <ul class="in in1">
                                <!-- <li><a href="#">Order History</a></li>
							<li><a href="wishlist.html">Wish List</a></li>
							<li><a href="login.scala.html">Login</a></li> -->
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-3 footer-middle-in">
                        <h6>Etiquetas</h6>
                        <ul class="tag-in">
                            <li><a href="#">Tienda</a></li>
                            <li><a href="#">Virtual</a></li>
                            <li><a href="#">Online</a></li>
                            <li><a href="#">Maquillaje</a></li>
                            <li><a href="#">Mujeres</a></li>
                            <li><a href="#">Hombres</a></li>
                            <li><a href="#">Ni&ntilde;os</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 footer-middle-in">
                        <h6>Noticias</h6>
                        <span>Inscr&iacute;bete a nuestras noticias</span>
                        <form>
                            <input type="text" value="Escribe tu E-mail" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='Escribe tu E-mail';}">
                            <input type="submit" value="Suscribirse">
                        </form>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <ul class="footer-bottom-top">
                        <li><a href="#"><img src="@routes.Assets.versioned("images/f1.png")" class="img-responsive" alt=""></a></li>
                        <li><a href="#"><img src="@routes.Assets.versioned("images/f2.png")" class="img-responsive" alt=""></a></li>
                        <li><a href="#"><img src="@routes.Assets.versioned("images/f3.png")" class="img-responsive" alt=""></a></li>
                    </ul>
                    <p class="footer-class">&copy; 2017 Sarang Boutique RD. All Rights Reserved .</p>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
            <!--//footer-->
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="@routes.Assets.versioned("javascripts/simpleCart.min.js")"> </script>
            <!-- slide -->
        <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>
            <!-- angular -->
        <script src="@routes.Assets.versioned("javascripts/angular.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/angular-resource.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/ui-bootstrap-tpls-2.5.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/ngStorage.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("app/api.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("app/app.js")" type="text/javascript"></script>

            <!--light-box-files -->
        <script src="@routes.Assets.versioned("javascripts/jquery.chocolat.js")"></script>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/chocolat.css")" type="text/css" media="screen" charset="utf-8">
            <!--light-box-files -->
        <script type="text/javascript" charset="utf-8">
                $(function() {
                    $('a.picture').Chocolat();
                });
        </script>


    </body>
</html>

