@main("Productos - Sarang Boutique RD") {
	<!--banner-->
	<div class="banner-top">
		<div class="container">
			<h1>Productos</h1>
			<em></em>
			<h2><a href="@routes.HomeController.index()">Inicio</a><label>/</label>Productos</h2>
		</div>
	</div>
		<!--content-->
	<div class="product" ng-controller="ProductsController">
		<div class="container">
			<div class="col-md-9">
				<div class="mid-popular">

					<div ng-repeat="product in products" class="col-md-4 item-grid1 simpleCart_shelfItem">
						<div class=" mid-pop">
							<div class="pro-img">
								<img ng-src="http://{{product.photoThumbnail}}" class="img-responsive" alt="">
								<div class="zoom-icon ">
									<a class="picture" ng-href="http://{{product.photoThumbnail}}" rel="title" class="b-link-stripe b-animate-go  thickbox"><i class="glyphicon glyphicon-search icon "></i></a>
									<a ng-href="/productos/{{product.id}}"><i class="glyphicon glyphicon-menu-right icon"></i></a>
								</div>
							</div>
							<div class="mid-1">
								<div class="women">
									<div class="women-top">
										<span>{{product.category.name}}</span>
										<h6><a  ng-href="/productos/{{product.id}}">{{product.name}}</a></h6>
									</div>
									@*<div class="img item_add">*@
										@*<a href="#"><img src="@routes.Assets.versioned("../../../public/images/ca.png")" alt=""></a>*@
									@*</div>*@
									<div class="clearfix"></div>
								</div>
								<div class="mid-2"  ng-if="product.discount == null">
									<p ><em class="item_price">{{product.price | currency:"RD$"}}</em></p>

									<div class="clearfix"></div>
								</div>
								<div class="mid-2" ng-if="product.discount !== null">
									<p ><label>{{product.price | currency:"RD$"}}</label><em class="item_price">{{product.price - ((product.price/100) * product.discount.percentage) | currency:"RD$"}}</em></p>

									<div class="clearfix"></div>
								</div>

							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="col-md-3 product-bottom">
					<!--categories-->
				<div class=" rsidebar span_1_of_left">
					<h4 class="cate">Categories</h4>
					<ul class="menu-drop">
						<li class="item1" ng-repeat="category in categories"><a href="#">{{category.name}}</a></li>

					</ul>
				</div>
					<!--initiate accordion-->
				<script type="text/javascript">
						$(function() {
							var menu_ul = $('.menu-drop > li > ul'),
									menu_a  = $('.menu-drop > li > a');
							menu_ul.hide();
							menu_a.click(function(e) {
								e.preventDefault();
								if(!$(this).hasClass('active')) {
									menu_a.removeClass('active');
									menu_ul.filter(':visible').slideUp('normal');
									$(this).addClass('active').next().stop(true,true).slideDown('normal');
								} else {
									$(this).removeClass('active');
									$(this).next().stop(true,true).slideUp('normal');
								}
							});

						});
				</script>
					<!--//menu-->
				@*<section  class="sky-form">*@
					@*<h4 class="cate">Discounts</h4>*@
					@*<div class="row row1 scroll-pane">*@
						@*<div class="col col-4">*@
							@*<label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Upto - 10% (20)</label>*@
						@*</div>*@
						@*<div class="col col-4">*@
							@*<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>40% - 50% (5)</label>*@
							@*<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>30% - 20% (7)</label>*@
							@*<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>10% - 5% (2)</label>*@
							@*<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Other(50)</label>*@
						@*</div>*@
					@*</div>*@
				@*</section>*@


					@*<!---->*@
				@*<section  class="sky-form">*@
					@*<h4 class="cate">Type</h4>*@
					@*<div class="row row1 scroll-pane">*@
						@*<div class="col col-4">*@
							@*<label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Sofa Cum Beds (30)</label>*@
						@*</div>*@
						@*<div class="col col-4">*@
							@*<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Bags  (30)</label>*@
							@*<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Caps & Hats (30)</label>*@
							@*<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Jackets & Coats   (30)</label>*@
							@*<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Jeans  (30)</label>*@
							@*<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Shirts   (30)</label>*@
							@*<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Sunglasses  (30)</label>*@
							@*<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Swimwear  (30)</label>*@
						@*</div>*@
					@*</div>*@
				@*</section>*@
				@*<section  class="sky-form">*@
					@*<h4 class="cate">Brand</h4>*@
					@*<div class="row row1 scroll-pane">*@
						@*<div class="col col-4">*@
							@*<label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>Roadstar</label>*@
						@*</div>*@
						@*<div class="col col-4">*@
							@*<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Levis</label>*@
							@*<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Persol</label>*@
							@*<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Nike</label>*@
							@*<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Edwin</label>*@
							@*<label class="checkbox"><input type="checkbox" name="checkbox" ><i></i>New Balance</label>*@
							@*<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Paul Smith</label>*@
							@*<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Ray-Ban</label>*@
						@*</div>*@
					@*</div>*@
				@*</section>*@
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
		<!--products-->

		<!--//products-->
		<!--brand-->
	<div class="container">
		<div class="brand">
				<!-- <div class="col-md-3 brand-grid">
					<img src="images/ic.png" class="img-responsive" alt="">
				</div>
				<div class="col-md-3 brand-grid">
					<img src="images/ic1.png" class="img-responsive" alt="">
				</div>
				<div class="col-md-3 brand-grid">
					<img src="images/ic2.png" class="img-responsive" alt="">
				</div>
				<div class="col-md-3 brand-grid">
					<img src="images/ic3.png" class="img-responsive" alt="">
				</div>
				<div class="clearfix"></div> -->
		</div>
	</div>
		<!--//brand-->


}