@main("Registro - Sarang Boutique RD") {
	<!--banner-->
	<div class="banner-top">
		<div class="container">
			<h1>Registro</h1>
			<em></em>
			<h2><a href="@routes.HomeController.index()">Inicio</a><label>/</label>Registro</h2>
		</div>
	</div>
		<!--login-->
	<div class="container" ng-controller="RegisterController">
		<div class="login">
			<form ng-submit="register()">
				<div class="col-md-6 login-do">
					<div class="login-mail">
						<input type="text" placeholder="Nombre" ng-model="user.name" required="">
						<i  class="glyphicon glyphicon-user"></i>
					</div>
					<div class="login-mail">
						<input type="text" placeholder="Apellido" ng-model="user.lastName" required="">
						<i  class="glyphicon glyphicon-user"></i>
					</div>
					@*<div class="login-mail">*@
						@*<input type="text" placeholder="Phone Number" required="">*@
						@*<i  class="glyphicon glyphicon-phone"></i>*@
					@*</div>*@
					<div class="login-mail">
						<input type="text" placeholder="Email" ng-model="user.email" required="">
						<i  class="glyphicon glyphicon-envelope"></i>
					</div>
					<div class="login-mail">
						<input type="password" placeholder="Password" ng-model="user.password" required="">
						<i class="glyphicon glyphicon-lock"></i>
					</div>

					<p class="news-letter" href="#" style="margin-bottom: 10px" ng-if="error">
						<label class="checkbox1" style="color: #a94442">{{error}}</label>
					</p>

					<a class="news-letter " href="#">
						<label class="checkbox1"><input type="checkbox" name="checkbox" ><i> </i>Olvid&eacute; mi Contrase&ntilde;a</label>
					</a>
					<label class="hvr-skew-backward">
						<input type="submit" value="Submit">
					</label>

				</div>
				<div class="col-md-6 login-right">
					<h3>Cuenta Totalmente Gratis!</h3>

					<p>Reg&iacute;strate y as&iacute; no te perder&aacute;s de las mejores ofertas!</p>
					<a href="@routes.HomeController.login()" class="hvr-skew-backward">Login</a>

				</div>

				<div class="clearfix"> </div>
			</form>
		</div>

	</div>

		<!--//login-->

		<!--brand-->
	<div class="container">
		<div class="brand">
				<!-- <div class="col-md-3 brand-grid">
					<img src="images/ic.png" class="img-responsive" alt="">
				</div>
				<div class="col-md-3 brand-grid">
					<img src="images/ic1.png" class="img-responsive" alt="">
				</div>
				<div class="col-md-3 brand-grid">
					<img src="images/ic2.png" class="img-responsive" alt="">
				</div>
				<div class="col-md-3 brand-grid">
					<img src="images/ic3.png" class="img-responsive" alt="">
				</div>
				<div class="clearfix"></div> -->
		</div>
	</div>
		<!--//brand-->
		<!--//content-->
}