@site.main(""){
	<!--banner-->
	<div class="banner-top">
		<div class="container">
			<h1>Producto</h1>
			<em></em>
			<h2><a href="@routes.HomeController.index()">Inicio</a><label>/</label>Producto</h2>
		</div>
	</div>
	<div class="single" ng-controller="ProductDetailController">

		<div class="container">
			<div class="col-md-9">
				<div class="col-md-5 grid">
					<div class="flexslider">
						<ul class="slides">
							<li data-thumb="images/si.jpg">
								<div class="thumb-image"> <img ng-src="http://{{product.photo}}" data-imagezoom="true" class="img-responsive"> </div>
							</li>
							@*<li data-thumb="images/si1.jpg">*@
								@*<div class="thumb-image"> <img src="images/si1.jpg" data-imagezoom="true" class="img-responsive"> </div>*@
							@*</li>*@
							@*<li data-thumb="images/si2.jpg">*@
								@*<div class="thumb-image"> <img src="images/si2.jpg" data-imagezoom="true" class="img-responsive"> </div>*@
							@*</li>*@
						</ul>
					</div>
				</div>
				<div class="col-md-7 single-top-in">
					<div class="span_2_of_a1 simpleCart_shelfItem">
						<h3>{{product.name}}</h3>
						<p class="in-para">
							<span style="float: left">
								Colores:
							</span>
							<span ng-repeat="color in product.colors" class="color-box" ng-style="{background: '{{'#'+color.hex}}'}"></span>
						</p>
						<p class="in-para">
							<span >
								Tamaños:
							</span>
							<span ng-repeat="size in product.sizes">
								{{size.name}}
							</span>
						</p>
						<div class="price_single">
							<span ng-if="product.discount !== null" class="reducedfrom item_price" >
								<span style="text-decoration: line-through; color: gray">{{product.price  | currency:"RD$"}}</span>
								<span>{{product.price - ((product.price/100) * product.discount.percentage) | currency:"RD$"}}</span>
							</span>
							<span ng-if="product.discount == null" class="reducedfrom item_price">{{product.price  | currency:"RD$"}}</span>

							<div class="clearfix"></div>
						</div>
						<h4 class="quick">Descripcion:</h4>
						<p class="quick_desc">{{product.description}}</p>
						@*<div class="wish-list">*@
						@*/	<ul>*@
								@*<li class="wish"><a style="cursor:pointer" ng-click="addToWishList()"><span class="glyphicon glyphicon-check" aria-hidden="true"></span>Agregar al Wishlist</a></li>*@
							@*</ul>*@
						@*</div>*@
						<div class="quantity">
							<div class="quantity-select">
								<div class="entry value-minus">&nbsp;</div>
								<div id="productQuantity" class="entry value"><span >1</span></div>
								<div class="entry value-plus active">&nbsp;</div>
							</div>
						</div>
							<!--quantity-->
						<script>
								$('.value-plus').on('click', function(){
									var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10)+1;
									divUpd.text(newVal);
								});

								$('.value-minus').on('click', function(){
									var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10)-1;
									if(newVal>=1) divUpd.text(newVal);
								});
						</script>
							<!--quantity-->

						<a ng-click="addToCart()" style="cursor: pointer" class="add-to item_add hvr-skew-backward">Agregar al Carrito</a>
						<div class="clearfix"> </div>
					</div>

				</div>
				<div class="clearfix"> </div>
					<!---->
			</div>
				<!----->

			<div class="col-md-3 product-bottom product-at">
					<!--categories-->
				<div class=" rsidebar span_1_of_left">
					<h4 class="cate">Categoria</h4>
					<ul class="menu-drop" >
						<li class="item1"><a href="#">{{product.category.name}}</a></li>
					</ul>
				</div>
					<!--initiate accordion-->
				<script type="text/javascript">
						$(function() {
							var menu_ul = $('.menu-drop > li > ul'),
									menu_a  = $('.menu-drop > li > a');
							menu_ul.hide();
							menu_a.click(function(e) {
								e.preventDefault();
								if(!$(this).hasClass('active')) {
									menu_a.removeClass('active');
									menu_ul.filter(':visible').slideUp('normal');
									$(this).addClass('active').next().stop(true,true).slideDown('normal');
								} else {
									$(this).removeClass('active');
									$(this).next().stop(true,true).slideUp('normal');
								}
							});

						});
				</script>
					<!--//menu-->

			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
		<!--brand-->
	<div class="container">
		<div class="brand">
				<!-- <div class="col-md-3 brand-grid">
					<img src="images/ic.png" class="img-responsive" alt="">
				</div>
				<div class="col-md-3 brand-grid">
					<img src="images/ic1.png" class="img-responsive" alt="">
				</div>
				<div class="col-md-3 brand-grid">
					<img src="images/ic2.png" class="img-responsive" alt="">
				</div>
				<div class="col-md-3 brand-grid">
					<img src="images/ic3.png" class="img-responsive" alt="">
				</div>
				<div class="clearfix"></div> -->
		</div>
	</div>
		<!--//brand-->
}