@site.main("404 - Sarang Boutique RD") {
	<!--banner-->
	<div class="banner-top">
		<div class="container">
			<h1>404</h1>
			<em></em>
			<h2><a href="site/index.scala.html">Home</a><label>/</label>404</h2>
		</div>
	</div>
		<!--login-->
	<div class="container">
		<div class="four">
			<h3>404</h3>
			<p>Oh No! Al parecer esta p&aacute;gina se la comi&oacute; un dinosaurio a la moda!</p>
			<a href="site/index.scala.html" class="hvr-skew-backward">Regresa al inicio</a>
		</div>
	</div>
		<!--//login-->

		<!--brand-->
	<div class="container">
		<div class="brand">
				<!-- <div class="col-md-3 brand-grid">
					<img src="images/ic.png" class="img-responsive" alt="">
				</div>
				<div class="col-md-3 brand-grid">
					<img src="images/ic1.png" class="img-responsive" alt="">
				</div>
				<div class="col-md-3 brand-grid">
					<img src="images/ic2.png" class="img-responsive" alt="">
				</div>
				<div class="col-md-3 brand-grid">
					<img src="images/ic3.png" class="img-responsive" alt="">
				</div>
				<div class="clearfix"></div> -->
		</div>
	</div>
		<!--//brand-->
		<!--//content-->
}